@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	background-size: cover;
		--dark-color-a: #0f197b;
    --dark-color-b: #7386ff;
    /* --light-color: #5045aa; */
    --success-color: #5cb85c;
    --error-color: #d9534f;
}





/* * {
	padding: 1px;
    margin: 1px;
    box-sizing: border-box;
} */
.container{
	/* text-align: center; */
	height:100vh;
	width: 100vw;
	
	
	
	overflow: hidden;
	/* background-size: cover; */
	background: linear-gradient(65deg,#1b34d7,#553871,#241958,#0c01258e);
	background-size: 300% 300%;
	animation: color 3s ease-in-out infinite;
}

@keyframes color {
	0%{
		background-position: 0 50%;
	}
	
	50%{
		background-position: 100% 50%;
	}
	
	100%{
		background-position: 0 50%;
	}
	
}
span{
	font-size: 4.2rem;
}
.animation{
	text-align: center;
	padding-top:50px ;
	margin-right: 200px;
	margin-left: 450px;
	text-transform: uppercase;
	font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 50px;
	letter-spacing: 1px;
	color:#9ec2a2;
	display: inline-block;
	animation: fadeIn 7s forwards;
	opacity: 10;
	transition-timing-function: cubic-bezier(0.785,0.135,0.15,0.86);
}
.first{
	display: inline-block;
	animation: firstspan 1.5s forwards cubic-bezier(0.785,0.135,0.15,0.86);
	/* background: #f0ecec; */
	z-index: 1;
	position: relative;
	font-weight: 500;
}
.slide{
	display: inline-flex;
	overflow: hidden;
}
.second{
	font-weight: 100;
	z-index: -1;
	display: inline-block;
	animation: secondspan 2s forwards cubic-bezier(0.785,0.135,0.15,0.86);
}
@keyframes fadeIn {
	0%{
		opacity: 0;
		transform: scale(1);
	}
	50%{
		opacity: 1;
		transform: scale(1);
	}
	0%{
		opacity: 1;
		transform: scale(1);
	}

}
@keyframes firstspan{
	0%{
transform: translateX(50%);
	}
	60%{
		transform: translateX(50%);
	}
	100%{
		transform: translateX(0%);
	}
	
}
@keyframes secondspan{
	0%{
transform: translateX(-100%);
	}
	60%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0%);
	}
	
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 0px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: grey;
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	height: 6vh;
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	height: 45vh;
	    background: #4e65b6cf;
	color: #fff;
	padding: 22px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	height: auto;
	max-height: 48vh;
	padding: 30px;
	/* max-height: 500px; */
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	height: 6vh;
	overflow-y: scroll;
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	overflow-y: scroll;
	font-size: 16px;
	padding: 5px;
	height: 25px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #9ec2a2;
}

.join-header {
	text-align: center;
	padding: 3px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 41px 45px;
    background: var(--dark-color-b);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
    padding: 0px;
    height: 38px;
    width: 99%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}
